body {
  background-image: linear-gradient(to bottom right, #7EA594, #4F647A);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}



.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (min-width: 576px) {
  .hamburger {
    top: 30px;
    right: 30px;
  }
}

@media (min-width: 992px) {
  .hamburger {
    top: 40px;
    right: 40px;
  }
}
